# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage / test
lib-cov
coverage
*.lcov
.nyc_output

# Grunt
.grunt

# Bower
bower_components

# node-waf
.lock-wscript

# Compiled addons
build/Release

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# TypeScript
*.tsbuildinfo

# Caches
.npm
.eslintcache
.stylelintcache
.node_repl_history
.cache
.parcel-cache
.temp
.svelte-kit/
.fusebox/

# Package outputs
*.tgz
.yarn-integrity

# Environment files
.env
.env.*
!.env.example

# Framework builds
.next
out
.nuxt
dist
.vuepress/dist
**/.vitepress/dist

# Framework caches
.cache/
**/.vitepress/cache
.docusaurus

# Serverless
.serverless/

# Databases / local emulators
.dynamodb/
.firebase/

# TernJS
.tern-port

# VSCode testing
.vscode-test

# Yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite timestamp logs
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
